html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 235, 238, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin: 10px 0;
}

h3 {
    font-size: 1.8rem;
}

p {
    margin: 6px 0;
}

.container {
    padding: 30px 10%;
    margin: 0 auto;
    clear: both;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#form-section {
    width: 50%;
    float: right;
    padding: 50px;
}

#form-section p {
    font-size: 0.9rem;
    font-weight: bold;
}

form {
    margin: -2px;
    width: 75%;
}

form > fieldset {
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin: 0;
}

form > fieldset > select {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    height: 24px;
}

input {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    height: 24px;
}

input[placeholder *="Name"] {
    width: 45%;
}

input[type="button"] {
    margin-left: -2px;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 6px;
    color: rgb(255, 255, 255, 1);
    background-color: rgb(92, 149, 72, 1);
    width: 200px;
    height:auto;
}

input[type="button"]:hover {
    background-color: rgb(78, 145, 54);
}

label[for="birthday"] {
    padding: 0 0 10px;
    display: block;
}

label[for$="male"] {
    font-weight: bold;
}

.full-width {
    width: 96%;

}

p.small-text {
    padding-bottom: 15px;
    font-size: 0.60rem;
    font-weight: 300;
    color: rgb(138, 138, 139, 1);
    width: 70%;
}

nav {
    background-color: rgb(66, 103, 178);
    color: white;
    height: 5%;
    font-family: Helvetica, sans-serif;
    max-height: 150px;
    margin: 0 auto;
}

#logo {
    margin: 0 0 0 10%;
    max-width: fit-content;
    display: inline-block;
}

.login-form {
    position: relative;
    max-width: 50%;
    display: inline-block;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: top;
}

.login {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

#sidebar {
    font-size: 2em;
    width: 40%;
    float: left;
}

#sidebar img {
    margin: 20px auto;
    width: 100%;
    height: 60%;
}