body{
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0 10%;
    max-width: fit-content;
    display: inline-block;
    font-size: 3.5em;
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav {
    background-color: rgb(66, 103, 178);
    color: white;
    height: 5%;
    font-family: Helvetica, sans-serif;
    max-height: 150px;
}

.login-form {
    position: relative;
    max-width: 50%;
    display: inline-block;
    padding-left: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: top;
}

.login {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#sidebar {
    font-size: 2em;
    margin: 0 0 0 10%;
    width: 50%;
}

#sidebar h3 {[

]}

#sidebar img {
    margin: 20px auto;
    width: 75%;
    height: 60%;
}